body {
    font-family: Arial;
    background-color: ivory;
    color: saddlebrown;
    line-height: 1.5;
}

header {
    background-color: peru;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: saddlebrown;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: chocolate;
    color: white;
}

main {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: sienna;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}
h2 {
    color: chocolate;
    text-align: center;
    font-size: 28px;
    margin: 30px 20px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px;
}
.media img {
    max-width: 90%;
    height: auto;
    border: 2px solid burlywood;
    border-radius: 10px;
    display: block;
    margin: auto 20px auto;
}

.media audio, .media video {
    width: 95%;
    max-width: 600px;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.con {
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid wheat;
}

.text {
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
}

.text p {
    margin-bottom: 15px;
}

footer {
    background-color: sienna;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    margin-top: 40px;
}

.footer {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.footer p {
    margin: 5px;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}